.face{
    height: 300px;
    width: 300px;
    background: pink;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 500px;
    position:absolute;
    border: 2px solid black;
}
.eyes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}
.leye{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
}
.reye{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
}
.leye1{
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    margin: auto;
    margin-top: 30%;
}
.reye2{
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    margin: auto;
    margin-top: 30%;
}
.nose{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 80px;
    background: red;
    margin: auto;
    margin-top: 20%;
    border: 3px solid black;
    border-radius: 50px;
}
.lnose{
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    margin: right 50px;
    margin-top: 10px;
}
.rnose{
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    margin: left 50px;
    margin-top: 10px;
}
.ears{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin: auto;
    margin-top: 100px;

}
.lear{
    height: 100px;
    width: 100px;
    background: pink;
    border-radius: 50%;
    border: 2px solid black;
   

}
.rear{
    height: 100px;
    width: 100px;
    background: pink;
    border-radius: 50%;
    border: 2px solid black;
   
}
